header {
  height: 68px;
  margin: 0 0 63px 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 68px;
    }

    .nav-links-container {
      display: flex;
      gap: 20px;
    }

    .nav-links {
      padding: 0;
      margin: 20px;
      display: flex;
      text-decoration: none;
      color: #FF6060;
      font-size: 24px;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }

    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      flex-direction: row;
      gap: 10px;

      .nav-links {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1em;
        font-size: 12px;
        gap: 10px;

        
      }

      .logo {
        a {
          img {
            height: 45px;
          }
        }
      }
    }
  }
}
