.accordion_item {  
    border-radius: 5px;
    background-color:   #FF6060;
  }
  
  .accordion_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
   
  }
  span{
    display: flex;
    flex-direction: row;
  }
  
  .accordion_content {
  padding: 5px;
  background-color: #fff;
  color: black;
  border-color: none;

 
}
  ul{
    list-style-type: none;
  }