.logement_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.logement_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logement_tag {
  color: #FF6060;
}

.logement_tag p {
  color: black;
}

.logement_profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 60%;
}

.logement_profile .logement_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.logement_name {
  padding: 1px;
  color: #FF6060;
  margin-right: 10px;
}

.logement_star {
  color: rgb(189, 186, 186);
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.fas {
  cursor: pointer;
  margin-left: 12px;
}

.fas.colored {
  color: #FF6060;
}

.logement_accordion {
  display: flex;
  gap: 100px;
}

.logement_description,
.logement_equipement {
  color: white;
  width: 100%;
}

@media (max-width: 768px) {
  .logement_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
 
    .logement_content{
    
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;

      align-items: end;
    
   
      .logement_name
     {
      width: 40%;
   margin-top: 40px;
    

      }
      .logement_photo{
        width: 85px;
        height: 85px;
       
      }
      .logement_star{
      width: 100%;
    
  
      }
     
    }
    
  }

  .logement_accordion {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .logement_profile{
    width: 20%;

  .logement_name {
    font-size: 10px;
    width: auto;
  }

  .logement_photo {
    width: 10px;
    height: 10px;
  }  }
  .logement_star{
    width: 20px;
    font-size: 10px;
   
   
 
    }

  .logement_accordion {
    width: 100%;
  }
}
