.notFound{
    color: #FF6060;
    text-align: center;
    font-family: Montserrat;
   
  }
  
  .notFound h1 {
    font-size: 10rem; 
    font-weight: 700; 
    margin: 20px; 
    width: 100%; 
  }
  
  .notFound p {
    font-size: 1.5rem; 
  
  }
  .retourne {
    display: inline-block;
    margin-top: 50px;
  }